/* =================
      reset
================== */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
/* =================
      commons (etc)
================== */
.fluid-img {
   max-width: 100%;
   height: auto;
}

/* =================
      header
================== */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: lightskyblue;
   padding-inline: 1rem;
}

header img {
   width: 8rem;
}

.header-text {
   font-size: 2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* =================
      main
================== */
/* ====================
   section valentina
===================== */
.section-valentina {
  background-color: aquamarine;
  text-align: center;
}
/* ====================
   section alessandro
===================== */
<<<<<<< HEAD
.container {
   text-align: center;
   background-color: greenyellow;
   padding: 10px;
}
=======

/* ====================
   section andrea
===================== */
#section-andrea {
    padding: 1.25rem;
    background-color: beige;
    text-align: center;
    border: 1px solid yellow;
}

>>>>>>> origin/feat-section-andrea
/* =================
      footer
================== */
footer {
  background-color: blue;
  color: #fff;
}
.container-footer {
  display: flex;
  justify-content: space-between;
}
.footer-bottom {
  margin: auto;
  color: gray;
}
