/* =================
      reset
================== */

/* =================
      commons (etc)
================== */

/* =================
      header
================== */

/* =================
      main
================== */

/* ====================
   section alessandro
===================== */

/* =================
      footer
================== */
footer {
  background-color: blue;
  color: #fff;
}
.container-footer {
  display: flex;
  justify-content: space-between;
}
.footer-bottom {
  margin: auto;
  color: gray;
}
